@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@theme {
    --font-Baskervville: "Baskervville", serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}